@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background: #f1f9ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.hero h1{
    font-size: 40px;
    margin-bottom: 5rem;
    text-align: center;
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.social-links a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    margin: 1rem 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform .5s;
}

.social-links a i{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 11;
    transition: color .5s;
}


.social-links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: .5s;
}

.social-links a:hover::after{
    top: 0;
}

.social-links a:hover i{
    color: #fff;
}

.social-links a:hover{
    transform: translateY(-10px)
}